{% extends 'blog/base.html' %}

{% block content %}
  <div class="center-block posts-list">
    {% for post in post_list %}
      <div class="post">
        <h3><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title}} </a></h3>
        <div class="date">
          <p>Published on: {{post.published_date|date:"D M Y"}}</p>
        </div>
        <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
